{0 {:state {:set-cookie? true, :screen :game, :difficulties [:easy], :board-size :3x3, :ui :web, :active false, :id 0, :players [:human :ai]}, :moves [{:player "X", :position 0} {:player "O", :position 6} {:player "X", :position 1} {:player "O", :position 7} {:player "X", :position 2}]}, 1 {:state {:set-cookie? true, :screen :game, :difficulties [:easy], :board-size :3x3, :ui :web, :active true, :id 1, :players [:ai :human]}, :moves [{:player "X", :position 7}]}}