{0 {:state {:screen :game, :difficulties [:easy], :board-size :3x3, :ui :web, :active false, :id 0, :players [:human :ai]}, :moves [{:player "X", :position 0} {:player "O", :position 2} {:player "X", :position 3} {:player "O", :position 1} {:player "X", :position 6}]}, 1 {:state {:screen :game, :difficulties [:easy], :board-size :3x3, :ui :web, :active true, :id 1, :players [:human :ai]}, :moves [{:player "X", :position 4} {:player "O", :position 1} {:player "X", :position 6} {:player "O", :position 8}]}}